.coding {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.lowerMenu {
  padding: 0px;
  height: calc(21vh);
}

.witeboard {
  height: 100%;
  width: 100%;
}

.sponsor2 {
  display: flex;
  justify-content: center;
  height: calc(3vh);
  text-decoration: none;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .sponsor2 {
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  .sponsor2 {
    font-size: x-small;
  }
}

.coding-page {
}

.code-mirror-container {
  /* z-index: 1; */
}
