.App {
  font-family: "Nunito", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
  overflow: hidden;
}

.App-header {
  background-color: rgb(0, 0, 0);
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0px 64px;
}
.App-header .extras {
  margin-left: auto;
}
.App-title {
  color: #f1a585;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}
.App-title:active,
.App-title:hover {
  color: #fff;
}

.homepage {
  display: flex;
  padding: 0px 64px;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.codingpage {
  height: calc(100vh - 80px);
}

.CodeMirror-scroll {
  padding: 16px 32px;
}

.cm-s-dracula.CodeMirror {
  padding: 0px;
  height: calc(80vh - 80px);
}

p {
  margin: 0;
}

.title {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 12px;
}
.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(124, 124, 124);
  margin-bottom: 36px;
  max-width: 500px;
}
.highlight {
  color: #f1a585;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #f1a585,
    0 0 80px #f1a585, 0 0 90px #f1a585, 0 0 100px #f1a585, 0 0 120px #f1a585;
}

.cursive {
  font-family: "Vibur", cursive;
}
